#services_container {
    margin-top:2vh;
    width:100%;
    min-height:160vh;
}

.card_container_s {
    float: left;
    width:50vw;
    margin-top:3%;
    color:black;
}

.how_to_steps_s {
    float: left;
    border-radius:50%;
    width: 20vw;
    height: 20vw;
    background-color: #01B4B9;
    color:white;
}

#animateIcon_s {
    animation: showIcon 5s both;
}

@keyframes showIcon {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
        scale:0.9
    }
}

.card_title_s {
    font-family: 'Raleway';
    text-align: center;
}

#one {
    width:100%;
    float: left;
    margin-bottom:2%;
}

#two {
    width:100%;
    float: left;
    margin-bottom:2%;
}
