#shape_styles {
    height:75vh;
    width:100vw;
    position: absolute;
    background-image: url('../Images/place.jpg');
    animation: grow 3s both;
}

@keyframes grow {
    from {
        clip-path:  polygon(100% 0, 0 100%, 0 100%, 0 0);
    }

    to {
        clip-path: polygon(50% 0, 50% 100%, 0 100%, 0 0);
    }
}