#main_about_area {
    width: 90vw;
    margin-left:15vw;
    margin-top:8vh;
}

.about_card_styles {
    width: 30vw;
    float:left;
    margin-bottom: 2%;
    margin-right: 2vw;
}

#about_background_area {
    width: 100vw;
    height: 120vh;
    padding:5vw;
    background-color: white;
    
}
